$c-green:#006039;
$c-blanc: #ffffff;
$c-text: #000000;
$c-orange:#C85A19;

$size-fig: 14px;
$size-text: 16px;
$size-h1: 16px;
$size-h5: 18px;
$size-h4: 21px;
$size-h2: 33px;
$size-h3: 25px;
$size-cita: 38px;

$size-fig-tab: 16px;
$size-text-tab: 18px;
$size-h1-tab: 25px;
$size-h3-tab: 33px;
$size-h4-tab: 33px;
$size-h2-tab: 38px;
$size-cita-tab: 58px;


$size-fig-pc: 18px;
$size-text-pc: 21px;
$size-h5-pc: 33px;
$size-h3-pc: 38px;
$size-h4-pc: 38px;
$size-h1-pc: 44px;
$size-h2-pc: 58px;
$size-cita-pc: 77px;
